.sprite-gen3 {
  background-image: url('/static/sprites/sheet_gen3.png');
  background-size: 2000% auto;
  width: 64px; height: 64px;
  display: inline-block; flex-shrink: 0;
}
.sprite-gen3-1{background-position:0.0% 0.0%}
.sprite-gen3-2{background-position:5.2632% 0.0%}
.sprite-gen3-3{background-position:10.5263% 0.0%}
.sprite-gen3-4{background-position:15.7895% 0.0%}
.sprite-gen3-5{background-position:21.0526% 0.0%}
.sprite-gen3-6{background-position:26.3158% 0.0%}
.sprite-gen3-7{background-position:31.5789% 0.0%}
.sprite-gen3-8{background-position:36.8421% 0.0%}
.sprite-gen3-9{background-position:42.1053% 0.0%}
.sprite-gen3-10{background-position:47.3684% 0.0%}
.sprite-gen3-11{background-position:52.6316% 0.0%}
.sprite-gen3-12{background-position:57.8947% 0.0%}
.sprite-gen3-13{background-position:63.1579% 0.0%}
.sprite-gen3-14{background-position:68.4211% 0.0%}
.sprite-gen3-15{background-position:73.6842% 0.0%}
.sprite-gen3-16{background-position:78.9474% 0.0%}
.sprite-gen3-17{background-position:84.2105% 0.0%}
.sprite-gen3-18{background-position:89.4737% 0.0%}
.sprite-gen3-19{background-position:94.7368% 0.0%}
.sprite-gen3-20{background-position:100.0% 0.0%}
.sprite-gen3-21{background-position:0.0% 5.2632%}
.sprite-gen3-22{background-position:5.2632% 5.2632%}
.sprite-gen3-23{background-position:10.5263% 5.2632%}
.sprite-gen3-24{background-position:15.7895% 5.2632%}
.sprite-gen3-25{background-position:21.0526% 5.2632%}
.sprite-gen3-26{background-position:26.3158% 5.2632%}
.sprite-gen3-27{background-position:31.5789% 5.2632%}
.sprite-gen3-28{background-position:36.8421% 5.2632%}
.sprite-gen3-29{background-position:42.1053% 5.2632%}
.sprite-gen3-30{background-position:47.3684% 5.2632%}
.sprite-gen3-31{background-position:52.6316% 5.2632%}
.sprite-gen3-32{background-position:57.8947% 5.2632%}
.sprite-gen3-33{background-position:63.1579% 5.2632%}
.sprite-gen3-34{background-position:68.4211% 5.2632%}
.sprite-gen3-35{background-position:73.6842% 5.2632%}
.sprite-gen3-36{background-position:78.9474% 5.2632%}
.sprite-gen3-37{background-position:84.2105% 5.2632%}
.sprite-gen3-38{background-position:89.4737% 5.2632%}
.sprite-gen3-39{background-position:94.7368% 5.2632%}
.sprite-gen3-40{background-position:100.0% 5.2632%}
.sprite-gen3-41{background-position:0.0% 10.5263%}
.sprite-gen3-42{background-position:5.2632% 10.5263%}
.sprite-gen3-43{background-position:10.5263% 10.5263%}
.sprite-gen3-44{background-position:15.7895% 10.5263%}
.sprite-gen3-45{background-position:21.0526% 10.5263%}
.sprite-gen3-46{background-position:26.3158% 10.5263%}
.sprite-gen3-47{background-position:31.5789% 10.5263%}
.sprite-gen3-48{background-position:36.8421% 10.5263%}
.sprite-gen3-49{background-position:42.1053% 10.5263%}
.sprite-gen3-50{background-position:47.3684% 10.5263%}
.sprite-gen3-51{background-position:52.6316% 10.5263%}
.sprite-gen3-52{background-position:57.8947% 10.5263%}
.sprite-gen3-53{background-position:63.1579% 10.5263%}
.sprite-gen3-54{background-position:68.4211% 10.5263%}
.sprite-gen3-55{background-position:73.6842% 10.5263%}
.sprite-gen3-56{background-position:78.9474% 10.5263%}
.sprite-gen3-57{background-position:84.2105% 10.5263%}
.sprite-gen3-58{background-position:89.4737% 10.5263%}
.sprite-gen3-59{background-position:94.7368% 10.5263%}
.sprite-gen3-60{background-position:100.0% 10.5263%}
.sprite-gen3-61{background-position:0.0% 15.7895%}
.sprite-gen3-62{background-position:5.2632% 15.7895%}
.sprite-gen3-63{background-position:10.5263% 15.7895%}
.sprite-gen3-64{background-position:15.7895% 15.7895%}
.sprite-gen3-65{background-position:21.0526% 15.7895%}
.sprite-gen3-66{background-position:26.3158% 15.7895%}
.sprite-gen3-67{background-position:31.5789% 15.7895%}
.sprite-gen3-68{background-position:36.8421% 15.7895%}
.sprite-gen3-69{background-position:42.1053% 15.7895%}
.sprite-gen3-70{background-position:47.3684% 15.7895%}
.sprite-gen3-71{background-position:52.6316% 15.7895%}
.sprite-gen3-72{background-position:57.8947% 15.7895%}
.sprite-gen3-73{background-position:63.1579% 15.7895%}
.sprite-gen3-74{background-position:68.4211% 15.7895%}
.sprite-gen3-75{background-position:73.6842% 15.7895%}
.sprite-gen3-76{background-position:78.9474% 15.7895%}
.sprite-gen3-77{background-position:84.2105% 15.7895%}
.sprite-gen3-78{background-position:89.4737% 15.7895%}
.sprite-gen3-79{background-position:94.7368% 15.7895%}
.sprite-gen3-80{background-position:100.0% 15.7895%}
.sprite-gen3-81{background-position:0.0% 21.0526%}
.sprite-gen3-82{background-position:5.2632% 21.0526%}
.sprite-gen3-83{background-position:10.5263% 21.0526%}
.sprite-gen3-84{background-position:15.7895% 21.0526%}
.sprite-gen3-85{background-position:21.0526% 21.0526%}
.sprite-gen3-86{background-position:26.3158% 21.0526%}
.sprite-gen3-87{background-position:31.5789% 21.0526%}
.sprite-gen3-88{background-position:36.8421% 21.0526%}
.sprite-gen3-89{background-position:42.1053% 21.0526%}
.sprite-gen3-90{background-position:47.3684% 21.0526%}
.sprite-gen3-91{background-position:52.6316% 21.0526%}
.sprite-gen3-92{background-position:57.8947% 21.0526%}
.sprite-gen3-93{background-position:63.1579% 21.0526%}
.sprite-gen3-94{background-position:68.4211% 21.0526%}
.sprite-gen3-95{background-position:73.6842% 21.0526%}
.sprite-gen3-96{background-position:78.9474% 21.0526%}
.sprite-gen3-97{background-position:84.2105% 21.0526%}
.sprite-gen3-98{background-position:89.4737% 21.0526%}
.sprite-gen3-99{background-position:94.7368% 21.0526%}
.sprite-gen3-100{background-position:100.0% 21.0526%}
.sprite-gen3-101{background-position:0.0% 26.3158%}
.sprite-gen3-102{background-position:5.2632% 26.3158%}
.sprite-gen3-103{background-position:10.5263% 26.3158%}
.sprite-gen3-104{background-position:15.7895% 26.3158%}
.sprite-gen3-105{background-position:21.0526% 26.3158%}
.sprite-gen3-106{background-position:26.3158% 26.3158%}
.sprite-gen3-107{background-position:31.5789% 26.3158%}
.sprite-gen3-108{background-position:36.8421% 26.3158%}
.sprite-gen3-109{background-position:42.1053% 26.3158%}
.sprite-gen3-110{background-position:47.3684% 26.3158%}
.sprite-gen3-111{background-position:52.6316% 26.3158%}
.sprite-gen3-112{background-position:57.8947% 26.3158%}
.sprite-gen3-113{background-position:63.1579% 26.3158%}
.sprite-gen3-114{background-position:68.4211% 26.3158%}
.sprite-gen3-115{background-position:73.6842% 26.3158%}
.sprite-gen3-116{background-position:78.9474% 26.3158%}
.sprite-gen3-117{background-position:84.2105% 26.3158%}
.sprite-gen3-118{background-position:89.4737% 26.3158%}
.sprite-gen3-119{background-position:94.7368% 26.3158%}
.sprite-gen3-120{background-position:100.0% 26.3158%}
.sprite-gen3-121{background-position:0.0% 31.5789%}
.sprite-gen3-122{background-position:5.2632% 31.5789%}
.sprite-gen3-123{background-position:10.5263% 31.5789%}
.sprite-gen3-124{background-position:15.7895% 31.5789%}
.sprite-gen3-125{background-position:21.0526% 31.5789%}
.sprite-gen3-126{background-position:26.3158% 31.5789%}
.sprite-gen3-127{background-position:31.5789% 31.5789%}
.sprite-gen3-128{background-position:36.8421% 31.5789%}
.sprite-gen3-129{background-position:42.1053% 31.5789%}
.sprite-gen3-130{background-position:47.3684% 31.5789%}
.sprite-gen3-131{background-position:52.6316% 31.5789%}
.sprite-gen3-132{background-position:57.8947% 31.5789%}
.sprite-gen3-133{background-position:63.1579% 31.5789%}
.sprite-gen3-134{background-position:68.4211% 31.5789%}
.sprite-gen3-135{background-position:73.6842% 31.5789%}
.sprite-gen3-136{background-position:78.9474% 31.5789%}
.sprite-gen3-137{background-position:84.2105% 31.5789%}
.sprite-gen3-138{background-position:89.4737% 31.5789%}
.sprite-gen3-139{background-position:94.7368% 31.5789%}
.sprite-gen3-140{background-position:100.0% 31.5789%}
.sprite-gen3-141{background-position:0.0% 36.8421%}
.sprite-gen3-142{background-position:5.2632% 36.8421%}
.sprite-gen3-143{background-position:10.5263% 36.8421%}
.sprite-gen3-144{background-position:15.7895% 36.8421%}
.sprite-gen3-145{background-position:21.0526% 36.8421%}
.sprite-gen3-146{background-position:26.3158% 36.8421%}
.sprite-gen3-147{background-position:31.5789% 36.8421%}
.sprite-gen3-148{background-position:36.8421% 36.8421%}
.sprite-gen3-149{background-position:42.1053% 36.8421%}
.sprite-gen3-150{background-position:47.3684% 36.8421%}
.sprite-gen3-151{background-position:52.6316% 36.8421%}
.sprite-gen3-152{background-position:57.8947% 36.8421%}
.sprite-gen3-153{background-position:63.1579% 36.8421%}
.sprite-gen3-154{background-position:68.4211% 36.8421%}
.sprite-gen3-155{background-position:73.6842% 36.8421%}
.sprite-gen3-156{background-position:78.9474% 36.8421%}
.sprite-gen3-157{background-position:84.2105% 36.8421%}
.sprite-gen3-158{background-position:89.4737% 36.8421%}
.sprite-gen3-159{background-position:94.7368% 36.8421%}
.sprite-gen3-160{background-position:100.0% 36.8421%}
.sprite-gen3-161{background-position:0.0% 42.1053%}
.sprite-gen3-162{background-position:5.2632% 42.1053%}
.sprite-gen3-163{background-position:10.5263% 42.1053%}
.sprite-gen3-164{background-position:15.7895% 42.1053%}
.sprite-gen3-165{background-position:21.0526% 42.1053%}
.sprite-gen3-166{background-position:26.3158% 42.1053%}
.sprite-gen3-167{background-position:31.5789% 42.1053%}
.sprite-gen3-168{background-position:36.8421% 42.1053%}
.sprite-gen3-169{background-position:42.1053% 42.1053%}
.sprite-gen3-170{background-position:47.3684% 42.1053%}
.sprite-gen3-171{background-position:52.6316% 42.1053%}
.sprite-gen3-172{background-position:57.8947% 42.1053%}
.sprite-gen3-173{background-position:63.1579% 42.1053%}
.sprite-gen3-174{background-position:68.4211% 42.1053%}
.sprite-gen3-175{background-position:73.6842% 42.1053%}
.sprite-gen3-176{background-position:78.9474% 42.1053%}
.sprite-gen3-177{background-position:84.2105% 42.1053%}
.sprite-gen3-178{background-position:89.4737% 42.1053%}
.sprite-gen3-179{background-position:94.7368% 42.1053%}
.sprite-gen3-180{background-position:100.0% 42.1053%}
.sprite-gen3-181{background-position:0.0% 47.3684%}
.sprite-gen3-182{background-position:5.2632% 47.3684%}
.sprite-gen3-183{background-position:10.5263% 47.3684%}
.sprite-gen3-184{background-position:15.7895% 47.3684%}
.sprite-gen3-185{background-position:21.0526% 47.3684%}
.sprite-gen3-186{background-position:26.3158% 47.3684%}
.sprite-gen3-187{background-position:31.5789% 47.3684%}
.sprite-gen3-188{background-position:36.8421% 47.3684%}
.sprite-gen3-189{background-position:42.1053% 47.3684%}
.sprite-gen3-190{background-position:47.3684% 47.3684%}
.sprite-gen3-191{background-position:52.6316% 47.3684%}
.sprite-gen3-192{background-position:57.8947% 47.3684%}
.sprite-gen3-193{background-position:63.1579% 47.3684%}
.sprite-gen3-194{background-position:68.4211% 47.3684%}
.sprite-gen3-195{background-position:73.6842% 47.3684%}
.sprite-gen3-196{background-position:78.9474% 47.3684%}
.sprite-gen3-197{background-position:84.2105% 47.3684%}
.sprite-gen3-198{background-position:89.4737% 47.3684%}
.sprite-gen3-199{background-position:94.7368% 47.3684%}
.sprite-gen3-200{background-position:100.0% 47.3684%}
.sprite-gen3-201{background-position:0.0% 52.6316%}
.sprite-gen3-202{background-position:5.2632% 52.6316%}
.sprite-gen3-203{background-position:10.5263% 52.6316%}
.sprite-gen3-204{background-position:15.7895% 52.6316%}
.sprite-gen3-205{background-position:21.0526% 52.6316%}
.sprite-gen3-206{background-position:26.3158% 52.6316%}
.sprite-gen3-207{background-position:31.5789% 52.6316%}
.sprite-gen3-208{background-position:36.8421% 52.6316%}
.sprite-gen3-209{background-position:42.1053% 52.6316%}
.sprite-gen3-210{background-position:47.3684% 52.6316%}
.sprite-gen3-211{background-position:52.6316% 52.6316%}
.sprite-gen3-212{background-position:57.8947% 52.6316%}
.sprite-gen3-213{background-position:63.1579% 52.6316%}
.sprite-gen3-214{background-position:68.4211% 52.6316%}
.sprite-gen3-215{background-position:73.6842% 52.6316%}
.sprite-gen3-216{background-position:78.9474% 52.6316%}
.sprite-gen3-217{background-position:84.2105% 52.6316%}
.sprite-gen3-218{background-position:89.4737% 52.6316%}
.sprite-gen3-219{background-position:94.7368% 52.6316%}
.sprite-gen3-220{background-position:100.0% 52.6316%}
.sprite-gen3-221{background-position:0.0% 57.8947%}
.sprite-gen3-222{background-position:5.2632% 57.8947%}
.sprite-gen3-223{background-position:10.5263% 57.8947%}
.sprite-gen3-224{background-position:15.7895% 57.8947%}
.sprite-gen3-225{background-position:21.0526% 57.8947%}
.sprite-gen3-226{background-position:26.3158% 57.8947%}
.sprite-gen3-227{background-position:31.5789% 57.8947%}
.sprite-gen3-228{background-position:36.8421% 57.8947%}
.sprite-gen3-229{background-position:42.1053% 57.8947%}
.sprite-gen3-230{background-position:47.3684% 57.8947%}
.sprite-gen3-231{background-position:52.6316% 57.8947%}
.sprite-gen3-232{background-position:57.8947% 57.8947%}
.sprite-gen3-233{background-position:63.1579% 57.8947%}
.sprite-gen3-234{background-position:68.4211% 57.8947%}
.sprite-gen3-235{background-position:73.6842% 57.8947%}
.sprite-gen3-236{background-position:78.9474% 57.8947%}
.sprite-gen3-237{background-position:84.2105% 57.8947%}
.sprite-gen3-238{background-position:89.4737% 57.8947%}
.sprite-gen3-239{background-position:94.7368% 57.8947%}
.sprite-gen3-240{background-position:100.0% 57.8947%}
.sprite-gen3-241{background-position:0.0% 63.1579%}
.sprite-gen3-242{background-position:5.2632% 63.1579%}
.sprite-gen3-243{background-position:10.5263% 63.1579%}
.sprite-gen3-244{background-position:15.7895% 63.1579%}
.sprite-gen3-245{background-position:21.0526% 63.1579%}
.sprite-gen3-246{background-position:26.3158% 63.1579%}
.sprite-gen3-247{background-position:31.5789% 63.1579%}
.sprite-gen3-248{background-position:36.8421% 63.1579%}
.sprite-gen3-249{background-position:42.1053% 63.1579%}
.sprite-gen3-250{background-position:47.3684% 63.1579%}
.sprite-gen3-251{background-position:52.6316% 63.1579%}
.sprite-gen3-252{background-position:57.8947% 63.1579%}
.sprite-gen3-253{background-position:63.1579% 63.1579%}
.sprite-gen3-254{background-position:68.4211% 63.1579%}
.sprite-gen3-255{background-position:73.6842% 63.1579%}
.sprite-gen3-256{background-position:78.9474% 63.1579%}
.sprite-gen3-257{background-position:84.2105% 63.1579%}
.sprite-gen3-258{background-position:89.4737% 63.1579%}
.sprite-gen3-259{background-position:94.7368% 63.1579%}
.sprite-gen3-260{background-position:100.0% 63.1579%}
.sprite-gen3-261{background-position:0.0% 68.4211%}
.sprite-gen3-262{background-position:5.2632% 68.4211%}
.sprite-gen3-263{background-position:10.5263% 68.4211%}
.sprite-gen3-264{background-position:15.7895% 68.4211%}
.sprite-gen3-265{background-position:21.0526% 68.4211%}
.sprite-gen3-266{background-position:26.3158% 68.4211%}
.sprite-gen3-267{background-position:31.5789% 68.4211%}
.sprite-gen3-268{background-position:36.8421% 68.4211%}
.sprite-gen3-269{background-position:42.1053% 68.4211%}
.sprite-gen3-270{background-position:47.3684% 68.4211%}
.sprite-gen3-271{background-position:52.6316% 68.4211%}
.sprite-gen3-272{background-position:57.8947% 68.4211%}
.sprite-gen3-273{background-position:63.1579% 68.4211%}
.sprite-gen3-274{background-position:68.4211% 68.4211%}
.sprite-gen3-275{background-position:73.6842% 68.4211%}
.sprite-gen3-276{background-position:78.9474% 68.4211%}
.sprite-gen3-277{background-position:84.2105% 68.4211%}
.sprite-gen3-278{background-position:89.4737% 68.4211%}
.sprite-gen3-279{background-position:94.7368% 68.4211%}
.sprite-gen3-280{background-position:100.0% 68.4211%}
.sprite-gen3-281{background-position:0.0% 73.6842%}
.sprite-gen3-282{background-position:5.2632% 73.6842%}
.sprite-gen3-283{background-position:10.5263% 73.6842%}
.sprite-gen3-284{background-position:15.7895% 73.6842%}
.sprite-gen3-285{background-position:21.0526% 73.6842%}
.sprite-gen3-286{background-position:26.3158% 73.6842%}
.sprite-gen3-287{background-position:31.5789% 73.6842%}
.sprite-gen3-288{background-position:36.8421% 73.6842%}
.sprite-gen3-289{background-position:42.1053% 73.6842%}
.sprite-gen3-290{background-position:47.3684% 73.6842%}
.sprite-gen3-291{background-position:52.6316% 73.6842%}
.sprite-gen3-292{background-position:57.8947% 73.6842%}
.sprite-gen3-293{background-position:63.1579% 73.6842%}
.sprite-gen3-294{background-position:68.4211% 73.6842%}
.sprite-gen3-295{background-position:73.6842% 73.6842%}
.sprite-gen3-296{background-position:78.9474% 73.6842%}
.sprite-gen3-297{background-position:84.2105% 73.6842%}
.sprite-gen3-298{background-position:89.4737% 73.6842%}
.sprite-gen3-299{background-position:94.7368% 73.6842%}
.sprite-gen3-300{background-position:100.0% 73.6842%}
.sprite-gen3-301{background-position:0.0% 78.9474%}
.sprite-gen3-302{background-position:5.2632% 78.9474%}
.sprite-gen3-303{background-position:10.5263% 78.9474%}
.sprite-gen3-304{background-position:15.7895% 78.9474%}
.sprite-gen3-305{background-position:21.0526% 78.9474%}
.sprite-gen3-306{background-position:26.3158% 78.9474%}
.sprite-gen3-307{background-position:31.5789% 78.9474%}
.sprite-gen3-308{background-position:36.8421% 78.9474%}
.sprite-gen3-309{background-position:42.1053% 78.9474%}
.sprite-gen3-310{background-position:47.3684% 78.9474%}
.sprite-gen3-311{background-position:52.6316% 78.9474%}
.sprite-gen3-312{background-position:57.8947% 78.9474%}
.sprite-gen3-313{background-position:63.1579% 78.9474%}
.sprite-gen3-314{background-position:68.4211% 78.9474%}
.sprite-gen3-315{background-position:73.6842% 78.9474%}
.sprite-gen3-316{background-position:78.9474% 78.9474%}
.sprite-gen3-317{background-position:84.2105% 78.9474%}
.sprite-gen3-318{background-position:89.4737% 78.9474%}
.sprite-gen3-319{background-position:94.7368% 78.9474%}
.sprite-gen3-320{background-position:100.0% 78.9474%}
.sprite-gen3-321{background-position:0.0% 84.2105%}
.sprite-gen3-322{background-position:5.2632% 84.2105%}
.sprite-gen3-323{background-position:10.5263% 84.2105%}
.sprite-gen3-324{background-position:15.7895% 84.2105%}
.sprite-gen3-325{background-position:21.0526% 84.2105%}
.sprite-gen3-326{background-position:26.3158% 84.2105%}
.sprite-gen3-327{background-position:31.5789% 84.2105%}
.sprite-gen3-328{background-position:36.8421% 84.2105%}
.sprite-gen3-329{background-position:42.1053% 84.2105%}
.sprite-gen3-330{background-position:47.3684% 84.2105%}
.sprite-gen3-331{background-position:52.6316% 84.2105%}
.sprite-gen3-332{background-position:57.8947% 84.2105%}
.sprite-gen3-333{background-position:63.1579% 84.2105%}
.sprite-gen3-334{background-position:68.4211% 84.2105%}
.sprite-gen3-335{background-position:73.6842% 84.2105%}
.sprite-gen3-336{background-position:78.9474% 84.2105%}
.sprite-gen3-337{background-position:84.2105% 84.2105%}
.sprite-gen3-338{background-position:89.4737% 84.2105%}
.sprite-gen3-339{background-position:94.7368% 84.2105%}
.sprite-gen3-340{background-position:100.0% 84.2105%}
.sprite-gen3-341{background-position:0.0% 89.4737%}
.sprite-gen3-342{background-position:5.2632% 89.4737%}
.sprite-gen3-343{background-position:10.5263% 89.4737%}
.sprite-gen3-344{background-position:15.7895% 89.4737%}
.sprite-gen3-345{background-position:21.0526% 89.4737%}
.sprite-gen3-346{background-position:26.3158% 89.4737%}
.sprite-gen3-347{background-position:31.5789% 89.4737%}
.sprite-gen3-348{background-position:36.8421% 89.4737%}
.sprite-gen3-349{background-position:42.1053% 89.4737%}
.sprite-gen3-350{background-position:47.3684% 89.4737%}
.sprite-gen3-351{background-position:52.6316% 89.4737%}
.sprite-gen3-352{background-position:57.8947% 89.4737%}
.sprite-gen3-353{background-position:63.1579% 89.4737%}
.sprite-gen3-354{background-position:68.4211% 89.4737%}
.sprite-gen3-355{background-position:73.6842% 89.4737%}
.sprite-gen3-356{background-position:78.9474% 89.4737%}
.sprite-gen3-357{background-position:84.2105% 89.4737%}
.sprite-gen3-358{background-position:89.4737% 89.4737%}
.sprite-gen3-359{background-position:94.7368% 89.4737%}
.sprite-gen3-360{background-position:100.0% 89.4737%}
.sprite-gen3-361{background-position:0.0% 94.7368%}
.sprite-gen3-362{background-position:5.2632% 94.7368%}
.sprite-gen3-363{background-position:10.5263% 94.7368%}
.sprite-gen3-364{background-position:15.7895% 94.7368%}
.sprite-gen3-365{background-position:21.0526% 94.7368%}
.sprite-gen3-366{background-position:26.3158% 94.7368%}
.sprite-gen3-367{background-position:31.5789% 94.7368%}
.sprite-gen3-368{background-position:36.8421% 94.7368%}
.sprite-gen3-369{background-position:42.1053% 94.7368%}
.sprite-gen3-370{background-position:47.3684% 94.7368%}
.sprite-gen3-371{background-position:52.6316% 94.7368%}
.sprite-gen3-372{background-position:57.8947% 94.7368%}
.sprite-gen3-373{background-position:63.1579% 94.7368%}
.sprite-gen3-374{background-position:68.4211% 94.7368%}
.sprite-gen3-375{background-position:73.6842% 94.7368%}
.sprite-gen3-376{background-position:78.9474% 94.7368%}
.sprite-gen3-377{background-position:84.2105% 94.7368%}
.sprite-gen3-378{background-position:89.4737% 94.7368%}
.sprite-gen3-379{background-position:94.7368% 94.7368%}
.sprite-gen3-380{background-position:100.0% 94.7368%}
.sprite-gen3-381{background-position:0.0% 100.0%}
.sprite-gen3-382{background-position:5.2632% 100.0%}
.sprite-gen3-383{background-position:10.5263% 100.0%}
.sprite-gen3-384{background-position:15.7895% 100.0%}
.sprite-gen3-385{background-position:21.0526% 100.0%}
.sprite-gen3-386{background-position:26.3158% 100.0%}
